apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
    spec:
      containers:
        - name: spring
          image: dakshin0820/spring-k8s-demo:1.4
          imagePullPolicy: Always
          ports:
            - containerPort: 8090
